In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [3]:
insurance_data = pd.read_csv('insurance.csv')

In [4]:
insurance_data.head()

   age  sex     bmi  children  smoker  charges
0   19    0  27.900         0       1        1
1   18    1  33.770         1       0        0
2   28    1  33.000         3       0        0
3   33    1  22.705         0       0        1
4   32    1  28.880         0       0        0

In [5]:
insurance_data.isnull()

        age    sex    bmi  children  smoker  charges
0     False  False  False     False   False    False
1     False  False  False     False   False    False
2     False  False  False     False   False    False
3     False  False  False     False   False    False
4     False  False  False     False   False    False
...     ...    ...    ...       ...     ...      ...
1333  False  False  False     False   False    False
1334  False  False  False     False   False    False
1335  False  False  False     False   False    False
1336  False  False  False     False   False    False
1337  False  False  False     False   False    False

[1338 rows x 6 columns]

In [6]:
insurance_data.shape

(1338, 6)

In [8]:
insurance_data['charges'].value_counts()

0    680
1    658
Name: charges, dtype: int64

In [10]:
X = insurance_data.drop (columns='charges',axis=1)
Y = insurance_data['charges']

In [11]:
print(X)

      age  sex     bmi  children  smoker
0      19    0  27.900         0       1
1      18    1  33.770         1       0
2      28    1  33.000         3       0
3      33    1  22.705         0       0
4      32    1  28.880         0       0
...   ...  ...     ...       ...     ...
1333   50    1  30.970         3       0
1334   18    0  31.920         0       0
1335   18    0  36.850         0       0
1336   21    0  25.800         0       0
1337   61    0  29.070         0       1

[1338 rows x 5 columns]

In [12]:
print(Y)

0       1
1       0
2       0
3       1
4       0
       ..
1333    1
1334    0
1335    0
1336    0
1337    1
Name: charges, Length: 1338, dtype: int64

In [13]:

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [14]:
print(X.shape, X_train.shape, X_test.shape)

(1338, 5) (1070, 5) (268, 5)

In [15]:
classifier = svm.SVC(kernel='linear')

In [16]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [17]:
X_train_prediction = classifier.predict(X_train)
training_data_accurasy = accuracy_score(X_train_prediction, Y_train)

In [18]:
print('akurasi data training :', training_data_accurasy)

akurasi data training : 0.9177570093457944

In [19]:
X_test_prediction = classifier.predict(X_test)
test_data_accurasy = accuracy_score(X_test_prediction, Y_test)

In [20]:
print('akurasi data testing :', test_data_accurasy)

akurasi data testing : 0.9029850746268657

In [22]:
input_data = (18,	1,	33.77,	1,	0)

input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

if (prediction[0]==0):
    print('Biaya Rendah')
else:
    print('Biaya Tinggi')

[0]
Biaya Rendah

c:\Users\Lenovo\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [23]:
import pickle

In [24]:
filename = 'insurance_model.sav'
pickle.dump(classifier, open(filename,'wb'))